.git
.gitignore
.dockerignore
Dockerfile

.env
.env.*
**/.env
**/.env.*
.venv
**/.venv
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.coverage
**/htmlcov

**/test*.py
**/tests.py
**/tests_*.py

.artifacts
playwright-report
test-results
